@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, sans-serif;
  background-color: #f5f5f5;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flexhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header {
  width: 100%;
  padding: 0% 0%;
  min-height: 40px;
  height: 100px;
  background-color: #00121b;
  color: black;
}

.logo img {
  width: 30%;
}

a {
  text-decoration: none;
}

/*########################MENU START#####################################*/

.menu {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 100%;
}

.menu a {
  padding: 0.75rem 1.5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  margin: auto;
}

.menu a:hover {
  background-color: chocolate;
  background-size: 80% 80%;
  color: #27262c;
  font-weight: bold;
}
.menu a:active {
  transform: translateY(4px);
}

/*########################MENU END#####################################*/

/**********************SLIDER*******************/

.mySlides {
  display: none;
}
.slideshow-container img {
  vertical-align: middle;
  object-fit: cover;
  height: 500px;
  opacity: 0.5;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active {
  background-color: #717171;
}

.portfolio > div {
  margin: -20px 250px 50px 250px;
  width: 60%;
  height: 200px;
}
#rownje,
#rowdy,
#rowtre {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/********************SLIDER END*******************/

/****************CONTENT*****************/
#content{
    width: 100%;
    min-height: 400px;
    font-family: 'Kanit', sans-serif;
    font-size: larger;
    letter-spacing: 1px;
    background-image: url("../img/ppp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.contentclasses{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:8% 20% 0 20%;  
}
#content img{
    border-radius: 50%;
    width: 26%;
    border: 4px double #ff7b08;
}
.asd img{
    margin-right: 2%;
}
.dsa img{
    margin-left: 2%;
}
.thirddivclass{
    text-align: center;
    padding: 10% 30% 10% 30%;
}
.thirddivclass h3{
text-align: center;
padding-right: 30%;
padding-bottom: 5%;
}
.thirddivclass ul{
    list-style-type: square;
}
/***************CONTENT END************/

/*---------FILLIMI I PRODUCTS--------*/
#rrathet{
    width:100%;
    min-height: 100vh;
    height: 640px;
    border:1px solid black;
    background-color: rgb(166, 241, 166);
    background-image: url(../img/bgProducts4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
#rrathet>div{
    margin: 6.5% auto 5% auto;
}
.rows{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.rows a{
    text-decoration: none;
    text-align: center;
    color: #f5f5f5;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 3px solid #354f52;
    font-size: x-large;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 3px;
}
.vetite{
    border-radius: 50%;
    -webkit-box-shadow: 13px 15px 32px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 15px 32px -6px rgba(0,0,0,0.75);
    box-shadow: 13px 15px 32px -6px rgba(0,0,0,0.75);
}
 .firstcircle{
background-color: #68b0ab;
}
.firstcircle a:hover{
background-color: #40807b;
}
.secondcircle{
    background-color: #A5A58D;
}
.secondcircle a:hover{
    background-color: #888875;
}
.thirdcircle{
    background-color: #E9C46A;
}
.thirdcircle a:hover{
    background-color: #b49546;
}
.fourthcircle{
    background-color: #c2c2ad;
}
.fourthcircle a:hover{
    background-color: #9e9e8d;
}
.fifthcircle{
    background-color: #CB997E;
}
.fifthcircle a:hover{
    background-color: #a17a65;
}
.sixthcircle{
    background-color: #77bfa3;
}
.sixthcircle a:hover{
    background-color: #629783;
}
/*------------FUNDI I PRODUCTS---------*/
/*===========FILLIMI I ABOUT US===========*/
#permbajtja{
    width: 100%;
    min-height: 500px;
    background-color:#f5f3f4;
    height: 1600px;
}
#permbajtja h3{
    border-top: 2px solid black;
}

/*sec part*/
.secondpart h3 {
  padding: 4% 20% 0 37%;
}
.secondpart ul {
  padding: 2% 20% 0 37%;
  list-style-type: square;
}
/*third part*/
.thirdpart h3 {
  text-align: center;
  padding: 4% 0 1.7% 0;
}
.thirdpart p {
  padding: 0 23% 0 23%;
}
/*fourth part*/
.fourthpart h3 {
  text-align: center;
  padding: 3% 0 1.7% 4%;
}
.fourthpart p {
  padding: 0 23% 0 23%;
}
.fourthpart p a {
  color: rgb(178, 224, 222);
  text-transform: uppercase;
  text-decoration: underline;
}
.fourthpart p a:hover {
  background-color: rgb(83, 69, 69);
}
.vvv {
  font-size: 130%;
  line-height: 1.6;
  text-align: justify;
  color: white;
}
.parts {
  padding: 4% 7% 0 7%;
}
.secondpart.thirdpart.fourthpart {
  min-height: 200px;
  height: 300px;
}

/*===========FUNDI I ABOUT US===========*/
/*BUQETA*/
.portfolio{
    width: 100%;
    min-height: 100vh;
    background-color:#adc698 ;
    height: 850px;
}

.portfolio>div{
    margin: -20px 250px 50px 250px;
    width: 60%;
    height: 200px;

}
#rownje, #rowdy, #rowtre{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 80px;
}
#rownje img, #rowdy img, #rowtre img{
    margin-top: 40px;
    width: 180px;
    height: 200px;
    padding: 20px;
    -webkit-box-shadow: 0 28px 16px -26px  #173324;
    -moz-box-shadow: 0 28px 16px -26px #173324;
    box-shadow: 15px 32px 16px -20px#173324;
    object-fit: cover;
    border-radius: 20%;    
}

/*FUNDI BUQETES */

/*************************CONTENT END******************/

/* FOOTER */
.footer {
  width: 100%;
  background: #00121b;
  display: block;
}

.inner-footer {
  width: 80%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
}

.footer-items {
  width: 30%;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #fff;
}

.footer-items p {
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  color: #fff;
}

.footer-items h1 {
  color: #fff;
}

.border1 {
  height: 3px;
  width: 40px;
  background: #ff9800;
  color: #ff9800;
  background-color: #ff9800;
  border: 0px;
  margin: 5px 0;
}

.footer ul {
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.footer ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
}

.footer ul a:hover {
  color: #ff9800;
}

.footer ul li {
  margin: 10px 0px;
  height: 25px;
}

.footer li i {
  margin-right: 20px;
}

.social-media a {
  text-decoration: none;
}

.social-media i {
  padding: 4px;
  color: #fff;
  transition: 0.5s;
}

.social-media i:hover {
  transform: scale(1.5);
}

.footer-bottom {
  padding: 10px;
  background: #00121b;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.contact{
  padding: 20px 0px;
}

hr{
  width: 10%;
  text-align:center;
  border: none;
  border-top: 15px dotted black;
  padding-bottom: 20px;
  
}

.forma{
  background-color:  white;
  width: 30%;
  padding: 20px 40px;
}

form .error{
  color: #e74c3c;
}

input[type=text],input[type=email],input[type=tel], select, textarea {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20px;
  resize: vertical;
}

input[type=radio]{
  width: 5%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}











