@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, sans-serif;
  background-color: #f5f5f5;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flexhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header {
  width: 100%;
  padding: 0% 0%;
  min-height: 40px;
  height: 100px;
  background-color: #00121b;
  color: black;
}

.logo img {
  width: 30%;
}

a {
  text-decoration: none;
}

/*########################MENU START#####################################*/

.menu {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 100%;
}

.menu a {
  padding: 0.75rem 1.5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  margin: auto;
}

.menu a:hover {
  background-color: chocolate;
  background-size: 80% 80%;
  color: #27262c;
  font-weight: bold;
}
.menu a:active {
  transform: translateY(4px);
}

/*########################MENU END#####################################*/

/**********************SLIDER*******************/

.mySlides {
  display: none;
}
.slideshow-container img {
  vertical-align: middle;
  object-fit: cover;
  height: 500px;
  opacity: 0.5;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active {
  background-color: #717171;
}
/*BUQETA*/
.portfolio {
  width: 100%;
  min-height: 100vh;
  background-color: #adc698;
  height: 850px;
}

.portfolio > div {
  margin: -20px 250px 50px 250px;
  width: 60%;
  height: 200px;
}
#rownje,
#rowdy,
#rowtre {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/********************SLIDER END*******************/

/****************CONTENT*****************/

#content {
  width: 100%;
  min-height: 200px;
}

/*---------FILLIMI I PRODUCTS--------*/
#rrathet {
  width: 100%;
  min-height: 100vh;
  height: 640px;
  border: 1px solid black;
  background-color: rgb(166, 241, 166);
  background-image: url(../img/bgProducts4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#rrathet > div {
  margin: 6.5% auto 5% auto;
}
.rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.rows a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  text-align: center;
  color: #f5f5f5;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 3px solid #354f52;
  font-size: larger;
}
.vetite {
  border-radius: 50%;
  -webkit-box-shadow: 13px 15px 32px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 13px 15px 32px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 13px 15px 32px -6px rgba(0, 0, 0, 0.75);
}
.firstcircle {
  background-color: #68b0ab;
}
.secondcircle {
  background-color: #a5a58d;
}
.thirdcircle {
  background-color: #e9c46a;
  border-radius: 50%;
}

.fourthcircle {
  background-color: #b7b7a4;
}
.fifthcircle {
  background-color: #cb997e;
}
.sixthcircle {
  background-color: #77bfa3;
}
/*------------FUNDI I PRODUCTS---------*/
/*===========FILLIMI I ABOUT US===========*/
#permbajtja {
  width: 100%;
  min-height: 500px;
  background-color: rgb(56, 48, 48);
  height: 1600px;
}
#permbajtja h3 {
  border-top: 2px solid white;
}
.firstpart {
  min-height: 400px;
  height: 500px;
}
.firstpart h2 {
  font-style: oblique;
  color: white;
}
.firstpart h3 {
  padding: 3% 0 1.7% 4%;
  text-align: center;
}
.firstpart p {
  padding: 0 20% 0 2%;
}
.firstpart img {
  width: 310px;
  border-radius: 50%;
  border: 3px solid whitesmoke;
  float: left;
  shape-outside: circle();
  margin: 30px 30px 0 30px;
}
/*sec part*/
.secondpart h3 {
  padding: 4% 20% 0 37%;
}
.secondpart ul {
  padding: 2% 20% 0 37%;
  list-style-type: square;
}
/*third part*/
.thirdpart h3 {
  text-align: center;
  padding: 4% 0 1.7% 0;
}
.thirdpart p {
  padding: 0 23% 0 23%;
}
/*fourth part*/
.fourthpart h3 {
  text-align: center;
  padding: 3% 0 1.7% 4%;
}
.fourthpart p {
  padding: 0 23% 0 23%;
}
.fourthpart p a {
  color: rgb(178, 224, 222);
  text-transform: uppercase;
  text-decoration: underline;
}
.fourthpart p a:hover {
  background-color: rgb(83, 69, 69);
}
.vvv {
  font-size: 130%;
  line-height: 1.6;
  text-align: justify;
  color: white;
}
.parts {
  padding: 4% 7% 0 7%;
}
.secondpart.thirdpart.fourthpart {
  min-height: 200px;
  height: 300px;
}

/*===========FUNDI I ABOUT US===========*/
/*BUQETA*/
.portfolio {
  width: 100%;
  min-height: 100vh;
  background-color: lightslategray;
  height: 1200px;
}

.portfolio > div {
  margin: 0px 250px 50px 250px;
  width: 60%;
  height: 200px;
}
#rownje {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#rownje img {
  width: 180px;
  height: 200px;
  padding: 20px;
}
#rowdy {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#rowdy img {
  width: 180px;
  height: 200px;
  padding: 20px;
}
#rowtre {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#rowtre img {
  width: 180px;
  height: 200px;
  padding: 20px;
}

#rownje img,
#rowdy img,
#rowtre img {
  margin-top: 40px;
  width: 180px;
  height: 200px;
  padding: 20px;
  -webkit-box-shadow: 0 28px 16px -26px #2d4739;
  -moz-box-shadow: 0 28px 16px -26px #2d4739;
  box-shadow: 0 28px 16px -26px #2d4739;
}

/*
.field-menu{
    box-shadow: 0 8px 6px -6px black;
    position: fixed;
    top:250px;
    left: 50px;
}
.fixed-menu table{
    background-color:#2D4739;
    border-collapse: collapse;
    width: 160px;
    height: 100px;
    text-align: center;
}
.fixed-menu table tr td{
    padding:3px;
    border: 1px black solid;
    border-collapse: collapse;
}
.fixed-menu table tr td a{
    text-decoration: none;
    color: white;
}
.fixed-menu table tr:hover{
    background-color:#2d6a4f;
}
/*FUNDI BUQETES */

/*************************CONTENT END******************/

/* FOOTER */
.footer {
  width: 100%;
  background: #00121b;
  display: block;
}

.inner-footer {
  width: 80%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
}

.footer-items {
  width: 30%;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #fff;
}

.footer-items p {
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  color: #fff;
}

.footer-items h1 {
  color: #fff;
}

.border1 {
  height: 3px;
  width: 40px;
  background: #ff9800;
  color: #ff9800;
  background-color: #ff9800;
  border: 0px;
  margin: 5px 0;
}

ul {
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
}

ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
}
/*FUNDI BUQETES */

ul a:hover {
  color: #ff9800;
}

ul li {
  margin: 10px 0px;
  height: 25px;
}

li i {
  margin-right: 20px;
}

.social-media a {
  text-decoration: none;
}

.social-media i {
  padding: 4px;
  color: #fff;
  transition: 0.5s;
}

.social-media i:hover {
  transform: scale(1.5);
}

.footer-bottom {
  padding: 10px;
  background: #00121b;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
